.vs/
packages/

*.dll

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
*.msi
Ankh.NoLoad
aspnet_client

TestApp2/bin/TestApp2.pdb

TestApp2/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml

TestApp2/bin/TestApp2.dll.config
